<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>

    <!-- Importando o arquivo CSS -->
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>
<h1>Lista de Pedidos</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Total</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pedido : ${pedidos}">
        <td th:text="${pedido.id}"></td>
        <td th:text="${pedido.cliente.nome}"></td>
        <td th:text="${pedido.total}"></td>
        <td>
            <a th:href="@{/pedidos/editar/{id}(id=${pedido.id})}">Editar</a> |
            <a th:href="@{/pedidos/excluir/{id}(id=${pedido.id})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
